.accordion {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.accordion-item {
  border: 1px solid gray;
  margin-bottom: 10px;
}

.accordion-header {
  background-color: lightgray;
  padding: 15px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-title {
  margin: 0;
}

.accordion-body {
  padding: 15px;
  display: none;
}

.show {
  display: block;
}

.hide {
  display: none;
}
