body {
  font-family: "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 1em;
}

.accordion {
  width: 80%;
  margin: 0 auto;
}

.accordion-item {
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
  overflow: hidden;
}

.accordion-header {
  background-color: #fafafa;
  color: #444;
  cursor: pointer;
  padding: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  transition: background-color 0.3s ease;
}

.accordion-header:hover {
  background-color: #ddd;
}

.accordion-title {
  font-size: 18px;
  margin: 0;
}

.accordion-body {
  padding: 18px;
  background-color: #fafafa;
  color: #444;
  display: none;
  animation: fadeIn 0.3s ease;
}

.show {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hide {
  display: none;
  animation: fadeOut 0.3s ease;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
